@import url('https://fonts.googleapis.com/css2?family=Quicksand&display=swap');

body {
    margin: 0;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
    font-family: 'Quicksand', sans-serif;
}
input::-ms-reveal,
input::-ms-clear {
    display: none;
}
.content-tooltip {
    opacity: 0;
    transition: all 0.3s ease-in-out;
}
.button-tooltip:hover ~ .content-tooltip {
    opacity: 1;
    transition: all 0.3s ease-in-out;
}

.tooltip-question {
    position: relative;
    border: 2px solid #e5e5e5;
    z-index: 2;
    background: #fff;
}

.tooltip-question::before {
    content: '';
    position: absolute;
    left: -1px;
    top: 50%;
    transform: translate(-50%, -50%) rotate(45deg);
    width: 15px;
    height: 15px;
    border-left: 2px solid #e5e5e5;
    z-index: 0;
    border-bottom: 2px solid #e5e5e5;
    background: #ffffff;
}

.categoryChips::-webkit-scrollbar {
    display: none;
}

.confirmationText {
    position: absolute;
    bottom: 25%;
}
.menu-bottom {
    background: linear-gradient(rgb(9, 1, 15), black);
}
.line-clamp-2 {
    overflow: hidden;
    display: -webkit-box;
    -webkit-box-orient: vertical;
    -webkit-line-clamp: 2;
}

.new-form-container {
    width: 460px;
}

.swal2-popup.swal2-toast {
    box-shadow: none !important;
}

.default-layout > div {
    overflow: hidden !important;
}

/* animation page */
.fade-enter {
    opacity: 0.5;
}

.fade-enter-active {
    opacity: 1;
    transition: opacity 800ms;
}

.fade-exit {
    opacity: 1;
}

.fade-exit-active {
    opacity: 0.5;
    transition: opacity 800ms;
}

.fade-slider-exit > .fade {
    opacity: 0.5;
}

.fade-slider-enter > .fade {
    opacity: 1;
}
